---
import { TITLE, DESCRIPTION } from '../global'

import Main from '../components/main.astro'
import Header from '../components/header.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={DESCRIPTION} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{TITLE}</title>
	</head>
	<body class="bg-slate-900 text-slate-200 text-xl">
		<Header />
		<Main>
			<slot />
		</Main>
	</body>
</html>
